.Header {
  font-size: medium;
  padding: 0.5rem;
}

.Panels {
  display: flex;

  .Divider {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    width: 0.5rem;
    background-color: transparent;
    border-left: 1px solid var(--mantine-color-default-border);
    cursor: col-resize;

    &:hover {
      background-color: #eee;
    }
  }

  .Result {
    padding-top: 1rem;
    flex-basis: 50%;
  }

  .Editor {
    padding-top: 1rem;
  }
}

.AppShellButton {
  color: var(--mantine-color-text);
  display: block;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }
}
